---
layout: default
---
<section>
    <article class="type-system-serif">
        <h1>{{ page.title }}</h1>
        <h4>{{ page.cats }}</h4>
        <hr>
        <div class="portfolio-details">
            <div class="portfolio-half">
                <h5>Project Overview</h5>
                {{ page.outline }}
                {% if page.port-link %}
                    <h6>To see more check out: <a href="{{ page.port-link }}" target="_blank">{{ page.port-link-title }}</a></h6>
                {% endif %}
            </div>
            <div class="portfolio-half">
                <h5>Musings</h5>
                {{ page.musings }}
            </div>
        </div>
        {% for image in page.images %}
            <div class="img-box">
                <div class="img-border-box">
                    <img src="{{ image.image_path }}" alt="{{ image.alt }}">
                </div>
                <p class="img-caption">{{ image.caption }}</p>
            </div>
        {% endfor %}
        <p>{{ content }}</p>
    </article>
</section>